header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .5rem 0;
    background-color: var(--bg-med-color);
    color: var(--accent-color-red);
    position: relative;
}

header > a {
    text-decoration: none;
    color: var(--accent-color-red);
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-title {
    font-size: clamp(1.5rem, 1rem + 1.5vw, 2rem);
    font-weight: bold;
}

.logo-img {
    max-width: 50px;
    max-height: 50px;
}

.logo-img img {
    width: 100%;
    height: 100%;
    filter: var(--accent-filter-red);
}

.header-nav {
    display: flex;
    gap: 2rem;
}

header nav a {
    color: var(--accent-filter-red);
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover, header nav a:focus {
    text-decoration: underline;
}

header .options {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.header-menu-btn {
    display: none;
    width: 35px;
    background: none;
    border: none;
    cursor: pointer;
    border: 1px solid var(--bg-med-color);
    border-radius: 5px;
}

.header-menu-btn:focus, .header-menu-btn:hover {
    border-color: var(--accent-color-red);
}

.header-menu-btn > img {
    pointer-events: none;
    width: 100%;
    filter: var(--accent-filter-red);
    cursor: pointer;
}

.header-nav.show {
    display: flex;

    animation-name: drop-down;
    animation-fill-mode: backwards;
    animation-timing-function: ease-out;
    transform-origin: top;
    animation-duration: .2s;
}



@keyframes drop-down {
    0% {transform: scaleY(0);}
    70% {transform: scaleY(1.1);}
    100% {transform: scaleY(1);}
}



@media only screen and (width <= 800px) {
    .header-nav {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: var(--bg-high-color);
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1.5rem 0;
        gap: 1.5rem;
        z-index: 3;
        display: none;
    }

    .header-menu-btn {
        display: flex;
    }
}


@media only screen and (width <= 500px) {
    .logo-title {
        display: none;
    }
}