main.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.site-title {
    font-size: clamp(1.2rem, 1rem + 2vw, 2rem);
    font-weight: bold;
    color: var(--accent-color-red);
}

.page-tiles {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}