.project-link {
    text-decoration: none;
    color: var(--text-high-color);
    outline: none;
    --scale: scale(1);
}

.project-link:focus, .project-tile:hover {
    --scale: scale(1.1);
}

.project-tile {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-high-color);
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
    border: 2px solid var(--accent-color-red);
    transform: var(--scale);
    will-change: transform;
    transition: transform .1s linear;
}

html.light .project-tile {
    box-shadow: 0px 2px 10px 0px black;
}

.project-img-wrapper {
    width: clamp(220px, 210px + 10vw, 280px);
    height: clamp(220px, 210px + 10vw, 280px);
    border: 2px solid var(--text-med-color);
    border-radius: 10px;
    overflow: hidden;
}

.project-img-wrapper img {
    width: 100%;
    height: 100%;
}

.project-tile p {
    width: 100%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: clamp(1.2rem, 1rem + 1vw, 2rem);
}