main.sudoku {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sudoku-game {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    border: 2px solid var(--bg-high-color);
    border-color: var(--text-med-color);
}

.sudoku-board .sudoku-cell {
    background-color: var(--bg-low-color);
    border: 1px solid var(--text-low-color);
    width: clamp(35px, 30px + 1vw, 50px);
    height: clamp(35px, 30px + 1vw, 50px);
    color: var(--text-med-color);
    font-size: clamp(1rem, .8rem + 1vw, 1.6rem);
    font-style: italic;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
}

.sudoku-cell[data-row="2"], .sudoku-cell[data-row="5"] {
    border-bottom-width: 2px;
    border-bottom-color: var(--text-med-color);
}

.sudoku-cell[data-col="2"], .sudoku-cell[data-col="5"] {
    border-right-width: 2px;
    border-right-color: var(--text-med-color);
}

.sudoku-cell.active-cell {
    background-color: var(--accent-color-red);
}

.sudoku-cell.filled-cell {
    font-style: normal;
    color: var(--text-high-color);
}

.sudoku-btns {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.sudoku-num-btn {
    cursor: pointer;
    border: none;
    font-weight: bold;
    color: var(--text-med-color);
    background-color: var(--bg-low-color);
    width: 70px;
    height: 70px;
    font-size: clamp(32px, 25px + 1vw, 35px);
    border: 2px solid var(--text-med-color);
    border-radius: 10px;
    outline: none;
}

.sudoku-num-btn:hover, .sudoku-num-btn:focus {
    background-color: var(--accent-color-red);
}

.sudoku-btns .num-btns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5rem;
}

.sudoku-btns .edit-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}



@media only screen and (width <= 800px) {
    .sudoku-game {
        flex-direction: column;
    }
    .sudoku-btns .num-btns {
        display: flex;
    }

    .num-btns .sudoku-num-btn {
        border: none;
        width: initial;
        height: initial;
        padding: .3rem;
    }

    .sudoku-btns {
        flex-direction: column-reverse;
    }
}