main.g2048 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.g2048-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    background-color: var(--bg-med-color);
    gap: .5rem;
    padding: .5rem;
    border-radius: 20px;
}

.g2048-cell {
    width: 100px;
    height: 100px;
    background-color: var(--accent-color-red);
    border-radius: 15px;
}

.g2048-game {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.g2048-game .side-btns-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.g2048-game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.g2048-scores {
    display: flex;
    gap: 1rem;
    color: var(--text-med-color);
}

.swipe-btn {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background-color: var(--bg-high-color);
    border: none;
    display: flex;
    border-radius: 10px;
}

.swipe-btn img {
    pointer-events: none;
    filter: var(--accent-filter-red);
    width: 100%;
    height: 100%;
}

.swipe-up img {
    transform: scaleX(1.5);
}

.swipe-down img {
    transform: rotate(180deg) scaleX(1.5);
}

.swipe-left, .swipe-right {
    width: 40px;
    height: 100px;
}

.swipe-left img {
    transform: rotate(-90deg) scaleX(1.5);
}

.swipe-right img {
    transform: rotate(90deg) scaleX(1.5);
}