.g2048-tile-board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: .5rem;
}

.g2048-tile {
    width: var(--cell-width);
    height: var(--cell-height);
    border-radius: var(--cell-border-radius);
    position: absolute;
    /* box-shadow: 0px 0px 5px 1px black; */
    transition: all .1s ease-in-out;
}

.g2048-tile[data-row="0"] {
    top: var(--gap);
}

.g2048-tile[data-row="1"] {
    /* bottom: calc(50% + (var(--gap)/2)); */
    top: calc((var(--gap) * 2) + var(--cell-height));
}

.g2048-tile[data-row="2"] {
    top: calc(50% + (var(--gap)/2));
}

.g2048-tile[data-row="3"] {
    /* bottom: var(--gap); */
    top: calc((var(--gap) * 4) + (var(--cell-height) * 3));
}

.g2048-tile[data-col="0"] {
    left: var(--gap);
}

.g2048-tile[data-col="1"] {
    /* right: calc(50% + (var(--gap)/2)); */
    left: calc((var(--gap) * 2) + var(--cell-width));
}

.g2048-tile[data-col="2"] {
    left: calc(50% + (var(--gap)/2));
}

.g2048-tile[data-col="3"] {
    /* right: var(--gap); */
    left: calc((var(--gap) * 4) + (var(--cell-width) * 3));
}

.g2048-tile::before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: calc(var(--cell-border-radius) - 2px);
    font-family: "roboto";
}

.g2048-tile[data-num="2"]::before {
    content: "2";
    background-color: var(--g2048-color-2);
    font-size: clamp(2rem, 1.5rem + 3vw, 3rem);
    font-weight: bold;
    color: var(--g2048-text-dark);

    animation-name: pop-in;
    animation-fill-mode: backwards;
    animation-duration: .1s;
    animation-timing-function: ease-in;
}

.g2048-tile[data-num="4"]::before {
    content: "4";
    background-color: var(--g2048-color-4);
    font-size: clamp(2rem, 1.5rem + 3vw, 3rem);
    font-weight: bold;
    color: var(--g2048-text-dark);
}

.g2048-tile[data-num="8"]::before {
    content: "8";
    background-color: var(--g2048-color-8);
    font-size: clamp(2rem, 1.5rem + 3vw, 3rem);
    font-weight: bold;
    color: var(--g2048-text-dark);
}

.g2048-tile[data-num="16"]::before {
    content: "16";
    background-color: var(--g2048-color-16);
    font-size: clamp(1.8rem, 1.2rem + 3vw, 2.7rem);
    font-weight: bold;
    color: var(--g2048-text-light);
}

.g2048-tile[data-num="32"]::before {
    content: "32";
    background-color: var(--g2048-color-32);
    font-size: clamp(1.8rem, 1.2rem + 3vw, 2.7rem);
    font-weight: bold;
    color: var(--g2048-text-light);
}

.g2048-tile[data-num="64"]::before {
    content: "64";
    background-color: var(--g2048-color-64);
    font-size: clamp(1.8rem, 1.2rem + 3vw, 2.7rem);
    font-weight: bold;
    color: var(--g2048-text-light);
}

.g2048-tile[data-num="128"]::before {
    content: "128";
    background-color: var(--g2048-color-128);
    font-size: clamp(1.6rem, 1.0rem + 3vw, 2.3rem);
    font-weight: bold;
    color: var(--g2048-text-light);
}

.g2048-tile[data-num="256"]::before {
    content: "256";
    background-color: var(--g2048-color-256);
    font-size: clamp(1.6rem, 1.0rem + 3vw, 2.3rem);
    font-weight: bold;
    color: var(--g2048-text-light);
}

.g2048-tile[data-num="512"]::before {
    content: "512";
    background-color: var(--g2048-color-512);
    font-size: clamp(1.6rem, 1.0rem + 3vw, 2.3rem);
    font-weight: bold;
    color: var(--g2048-text-light);
}

.g2048-tile[data-num="1024"]::before {
    content: "1024";
    background-color: var(--g2048-color-1024);
    font-size: clamp(1.3rem, .8rem + 3vw, 2rem);
    font-weight: bold;
    color: var(--g2048-text-light);
}

.g2048-tile[data-num="2048"]::before {
    content: "2048";
    background-color: var(--g2048-color-2048);
    font-size: clamp(1.3rem, .8rem + 3vw, 2rem);
    font-weight: bold;
    color: var(--g2048-text-light);
}



@keyframes pop-in {
    0% {transform: scale(0); opacity: 0;}
    80% {transform: scale(1.1); opacity: 1;}
    100% {transform: scale(1); opacity: 1;}
}