main.g2048 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow-x: hidden;
    width: 100vw;
}

.g2048-board {
    background-color: var(--text-low-color);
    position: relative;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-content: center;

    border-radius: 20px;

    --gap: clamp(4px, 2px + 1vw, 8px);

    gap: var(--gap);
    padding: var(--gap);

    --cell-width: clamp(60px, 38px + 10vw, 100px);
    --cell-height: clamp(60px, 38px + 10vw, 100px);
    --cell-border-radius: 15px;
}

.g2048-cell {
    width: var(--cell-width);
    height: var(--cell-height);
    background-color: var(--bg-med-color);
    border-radius: var(--cell-border-radius);
}

html.light .g2048-cell {
    background-color: var(--text-low-color);
}

.g2048-game {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.g2048-game .side-btns-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.g2048-game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.g2048-scores {
    display: flex;
    gap: 1rem;
    color: var(--text-med-color);
}

.swipe-btn {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background-color: var(--text-med-color);
    border: none;
    display: flex;
    border-radius: 10px;
}

.swipe-btn img {
    pointer-events: none;
    filter: var(--accent-filter-red);
    width: 100%;
    height: 100%;
}

.swipe-up img {
    transform: scaleX(1.5);
}

.swipe-down img {
    transform: rotate(180deg) scaleX(1.5);
}

.swipe-left, .swipe-right {
    width: 40px;
    height: 100px;
}

.swipe-left img {
    transform: rotate(-90deg) scaleX(1.5);
}

.swipe-right img {
    transform: rotate(90deg) scaleX(1.5);
}

.swipe-btn:active, .swipe-btn:hover {
    background-color: var(--text-low-color);
}



@media only screen and (width <= 700px) {
    .swipe-btn {
        display: none;
    }
}