.g2048-rules-popup {
    position: absolute;
    left: 0;
    right: 0;
    width: fit-content;
    margin: 0 auto;
    top: 20%;
    z-index: 1;
    background-color: var(--bg-high-color);
    color: var(--text-med-color);
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid var(--text-med-color);
}

.g2048-rules-popup :nth-child(2) {
    font-weight: bold;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.g2048-rules-popup p {
    margin-bottom: 1rem;
    max-width: 35ch;
}

.g2048-rules-popup .exit-wrapper {
    display: flex;
    width: 100%;
    justify-content: end;
}

.exit-wrapper button {
    width: 30px;
    background: none;
    border: none;
    cursor: pointer;
    --filter: var(--text-med-filter);
}

.exit-wrapper button:focus, .exit-wrapper button:hover {
    --filter: var(--accent-filter-red);
}

.exit-wrapper button img {
    pointer-events: none;
    filter: var(--filter);
}

.g2048-rules-popup.hidden {
    display: none;
}