main.g2048 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    overflow-x: hidden;
    width: 100vw;
    position: relative;
}

.g2048-board {
    background-color: var(--text-low-color);
    position: relative;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    align-content: center;

    border-radius: 20px;

    --gap: clamp(4px, 2px + 1vw, 8px);

    gap: var(--gap);
    padding: var(--gap);

    --cell-width: clamp(60px, 38px + 7vw, 100px);
    --cell-height: clamp(60px, 38px + 7vw, 100px);
    --cell-border-radius: 15px;
}

.g2048-cell {
    width: var(--cell-width);
    height: var(--cell-height);
    background-color: var(--bg-med-color);
    border-radius: var(--cell-border-radius);
}

html.light .g2048-cell {
    background-color: var(--text-low-color);
}

.g2048-game {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.g2048-game .side-btns-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.g2048-game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    touch-action: none;
}

.g2048-scores {
    display: flex;
    gap: 1rem;
    color: var(--text-med-color);
}

.swipe-btn {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background-color: var(--text-med-color);
    border: none;
    display: flex;
    border-radius: 10px;
    outline: none;
}

.swipe-btn img {
    pointer-events: none;
    filter: var(--accent-filter-red);
    width: 100%;
    height: 100%;
}

.swipe-up img {
    transform: scaleX(1.5);
}

.swipe-down img {
    transform: rotate(180deg) scaleX(1.5);
}

.swipe-left, .swipe-right {
    width: 40px;
    height: 100px;
}

.swipe-left img {
    transform: rotate(-90deg) scaleX(1.5);
}

.swipe-right img {
    transform: rotate(90deg) scaleX(1.5);
}

.swipe-btn:active, .swipe-btn:hover, .swipe-btn:focus {
    background-color: var(--text-low-color);
}

.g2048-game-options {
    position: absolute;
    width: fit-content;
    top: 5%;
    left: 10%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.g2048-game-options {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.g2048-game-options button {
    cursor: pointer;
    background-color: var(--bg-low-color);
    border: 2px solid var(--text-med-color);
    font-size: 1rem;
    font-family: "roboto";
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: 10px;
    color: var(--text-med-color);
    outline: none;
}

.g2048-game-options button:hover, 
.g2048-game-options button:focus,
.g2048-game-options button:active {
    background-color: var(--accent-color-red);
}

.target-btn {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.target-btn[data-target="2048"]::after {
    content: "2048";
    display: block;
}

.target-btn[data-target="1024"]::after {
    content: "1024";
    display: block;
}

.target-btn[data-target="512"]::after {
    content: "512";
    display: block;
}

.g2048-scores {
    position: absolute;
    top: 50%;
    left: 10.5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.target-num-popup {
    position: fixed;
    z-index: 1;
    background-color: var(--bg-high-color);
    border-radius: 10px;
    padding: 1rem;
    top: 20%;
    color: var(--text-high-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid var(--text-high-color);
}

.target-num-popup button {
    cursor: pointer;
    padding: .5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    background-color: var(--text-med-color);
    border-radius: 10px;
    color: var(--bg-high-color);
}

.target-num-popup p {
    pointer-events: none;
    font-weight: bold;
}

.target-num-popup button:focus, .target-num-popup button:hover {
    background-color: var(--accent-color-red);
}

.target-num-popup.hidden {
    display: none;
}

.g2048-scores div {
    font-weight: bold;
    background-color: var(--bg-med-color);
    padding: .5rem 1rem;
    border-radius: 10px;
}

.g2048-game-options .g2048-help-btn {
    width: 40px;
    padding: .1rem;
    display: flex;
}

.g2048-game-options .g2048-help-btn img {
    filter: var(--text-med-filter);
    pointer-events: none;
}



@media only screen and (width <= 1000px) {
    .swipe-btn {
        display: none;
    }

    .g2048-game-options {
        position: absolute;
        width: fit-content;
        top: 5%;
        left: 0;
        right: 0;
        margin: 0 auto;
        flex-direction: row;
    }

    .g2048-scores {
        bottom: 5%;
        top: initial;
        flex-direction: row;
        left: 0;
        right: 0;
        width: fit-content;
        margin: 0 auto;
    }
}