.wordle-input {
    width: fit-content;
    display: flex;
    gap: .5rem;
    outline: none;
    cursor: default;
    user-select: none;
}

.wordle-input .input-letter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(50px, 40px + 1vw, 65px);
    height: clamp(50px, 40px + 1vw, 65px);
    border: 2px solid var(--text-med-color);
    border-radius: 5px;
    font-size: clamp(1rem, .6rem + 1.5vw, 2rem);
    font-weight: bold;
    color: var(--text-med-color);
}

.wordle-input .input-letter.wrong {
    color: var(--bg-low-color);
    background-color: var(--text-med-color);
    border: none;
}

.wordle-input .input-letter.right-letter {
    background-color: var(--accent-color-yellow);
    color: var(--bg-low-color);
    border: none;
}

.wordle-input .input-letter.correct {
    background-color: var(--accent-color-green);
    color: var(--bg-low-color);
    border: none;
}