.wordle-keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(.2rem, .1rem + 1vw, .6rem);
}

.wordle-keyboard-keys {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(.2rem, .0rem + 1vw, .6rem);
    width: 100%;
}

.w-keyboard-key {
    border: 2px solid var(--text-med-color);
    border-radius: 5px;
    font-size: clamp(.8rem, .5rem + .6vw, 1.4rem);
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    color: var(--text-med-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(28px, 20px + 1.5vw, 51px);
    height: clamp(55px, 45px + 1vw, 65px);
    flex-shrink: 0;
}

.w-keyboard-key.enter {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    font-size: clamp(.6rem, .3rem + 1vw, 1rem);
}

.w-keyboard-key.backspace {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    --filter: var(--text-med-filter);
}

.w-keyboard-key.backspace img {
    width: 35%;
    filter: var(--filter);
}

.w-keyboard-key.pressed {
    background-color: var(--accent-color-red);
    color: var(--bg-low-color);
    border-color: var(--accent-color-red);
}

.w-keyboard-key.backspace.pressed, 
.w-keyboard-key.backspace.wrong,
.w-keyboard-key.backspace.right-letter,
.w-keyboard-key.backspace.correct {
    --filter: var(--bg-low-filter);
}

.w-keyboard-key.wrong {
    color: var(--bg-low-color);
    background-color: var(--text-med-color);
    border: none;
}

.w-keyboard-key.right-letter {
    color: var(--bg-low-color);
    background-color: var(--accent-color-yellow);
    border: none;
}

.w-keyboard-key.correct {
    color: var(--bg-low-color);
    background-color: var(--accent-color-green);
    border: none;
}