.wordle-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 1rem 0 0 0; */
    gap: clamp(1rem, .2rem + 1vw, 2rem);
    align-items: center;
    position: relative;
}

.wordle-board {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}