@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: "roboto", sans-serif;

	--text-high-color: hsl(0, 0%, 100%, 0.87);
	--text-med-color: hsl(0, 0%, 100%, .60);
	--text-low-color: hsl(0, 0%, 100%, .38);
	--bg-highx3-color: hsl(0, 0%, 45%);
	--bg-highx2-color: hsl(0, 0%, 35%);
	--bg-high-color: hsl(0, 0%, 25%);
	--bg-med-color: hsl(0, 0%, 19%);
	--bg-low-color: hsl(0, 0%, 9%);
	--accent-color-red: hsl(356, 45%, 52%);
	--accent-color-yellow: hsl(60, 45%, 52%);
	--accent-color-green: hsl(120, 45%, 52%);

	--accent-filter-red:
	brightness(0) 
	saturate(100%) 
	invert(38%) 
	sepia(43%) 
	saturate(855%) 
	hue-rotate(307deg) 
	brightness(91%) 
	contrast(86%);
}